@import '_reset.scss';
body {
  background-color: #000;
  font-family: 'Montserrat', 'Avenir';
}
header {
  display: flex;
  justify-content: center;
  background-color: rgb(70, 130, 180);
  color: white;
  h1 {
    margin: 2% 30%;
    font-size: 32px;
    text-align: center;
    line-height: 1.1;
    p {
      font-weight: 500;
      font-size: 180%;
    }
  }
}
#navbar {
  background-color: #fff;

  ul {
    display: flex;
    justify-content: center;
    li {
      padding: 5px 0;
      margin: auto 3%;
      color: #000;
      font-weight: 700;
      font-size: 18px;
      a {
        padding: 2px 5px;
        text-decoration: none;
        color: rgb(70, 130, 180);
        height: 100%;
        font-weight: bolder;
        margin-right: 5px;
        transition: all 0.4s;
        &:active,
        &:hover {
          background-color: rgb(70, 130, 180);
          color: white;
          font-weight: 900;
        }
      }
    }
    #message {
      width: 10%;
      text-align: center;
    }
  }
  .hasCheck {
    background-color: rgb(70, 130, 180);
    color: white;
  }
}

#container {
  max-width: 650px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .square {
    width: 30%;
    padding-bottom: 30%;
    border-radius: 10%;
    background-color: purple;
    margin: 1.66%;
    transition: background 0.5s;
  }
}
